.logo {
  width: 120px;
  height: 31px;
  background: rgba(66, 52, 52, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.logout {
  width: 120px;
  height: 31px;
  background: rgba(66, 52, 52, 0.2);
  margin: 16px 0 16px 0;
  float: left;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: #188fff05;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #188fff05;
}
